table {
    width: 100%;
    border-collapse: collapse;
  }
  table,
  th,
  td {
    border: 1px solid black;
  }
  th,
  td {
    padding: 10px;
    text-align: center;
    background-color: rgb(199, 184, 163);
  }
  caption {
    caption-side: top;
    font-weight: bold;
    font-size: 2.8em;
    margin-bottom: 10px;
    background-color: beige;
  }
  th{
    background-color: antiquewhite;
  }